.cardbox_container{
  

    
    background: transparent;
    width: 600px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 0.5px solid black;
    margin-top: 10px ;
    border-radius: 2px;
 
    
   
    
}
.userlist_header>h1{
    text-decoration: underline;
}
.form-items{
 margin: 30px auto;
 justify-content: space-between;
}
.app_wrapper{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 10px;
    align-items: center;    
}
.search-btn{
    height: 30px;
    border-radius: 10px;
    background-color: #1d42c6;
    color: white;
    font-weight: 700;
    border: none;
    width: 100px;
}
.cardbox_container::-webkit-scrollbar{
    background-color: white;
    width: 5px;
    
}
.cardbox_container::-webkit-scrollbar-thumb{
    background-color: rgb(164, 137, 225);
    height: 50px;
}
.search-bar-input{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid black;
    padding-left: 10px;
    margin-left: 20px;

}
.filter-btn{
    height: 30px;
    border-radius: 10px;
    background-color: #1d42c6;
    color: white;
    font-weight: 700;
    border: none;
    width: 100px;
    margin-right: 20px;
}
.filter-btn:hover{
    color: black;
    background: white;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
.search-btn:hover{
    color: black;
    background: white;
    border: 1px solid black;
    transition: 0.5s ease; 
    cursor: pointer;
}
.select-btn{
    height: 30px;
    border-radius: 5px;
    background-color: #f7f7f9;
    color: rgb(13, 10, 10);
    font-weight: 700;
    border: 0.5px solid black;
    width: 100px;
    margin-right: 20px;
}
